@media screen and (max-width: 1000px) {
    .menu {
      display: block;
    }
  
    .navul {
      display: none;
      flex-direction: column;
      background-color: #0c5d69;
      position: absolute;
      top: 90px;
      right: 20px;
      width: 90%;
      border-radius: 8px;
      padding: 10px;
      padding-bottom: 50%;

    }
  
    .navul.active {
      display: flex;
    }
  
    .navul li {
      margin: 10px 0;
    }
  
    .log {
      display: none; /* Hide login/logout */
      flex-direction: column;
      background-color: #0c5d69;
      position: absolute;
      bottom: 70px;
      left: 20px;
      width: 90%;
      border-radius: 8px;
      padding: 2%;
      padding-left: 40%;
      z-index: 2;
    }
    .log.active{
      display: flex;
    }

    .swiper-slide .overlay h1{
      font-size: 110%;
    }

  #sec2 h1, #sec3 h1 {
      font-size: 30px;
  }

  #sec2 p, #sec3 p{
      font-size: 18px;
  }

  .content-item span {
      font-size: 18px;
  }


    #sec3 .div{
        display: flex;
        flex-direction: column;
    }
    #sec3 .div div {
        width: 90%;
        height:120px;
    }

    #sec4{
        display: flex;
        flex-direction: column;
    }
    #sec4 #box {
    width: 90%;
    }
    #sec4 .content{
        font-size: 25px;
    }

#sec5 {
    max-width: 100%;
  min-height: 190vh;
  box-shadow: 0 4px 8px;  
  margin: 5% 0;
}
    #sec5 .container {
  box-shadow: none;  
    }
    .left-section {
        /* display: none; */
      width: 100%; 
      margin-bottom: 20px; 
    }
    .right-section {
  padding: 0px;
    gap: 5%;
      width: 100%; 
      grid-template-columns: auto; 
    }
}
@media screen and (max-width: 480px) {
    .left-section {
        display: none;
    }

} 
