
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
      letter-spacing: 1px;
    }
    body{
      font-family: "Playfair Display", serif;

    }

    /* Navbar */
    .navbar {
      height: 90px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #0c5d69;
      padding: 0 3%;
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 2;
    }

    .navbar .navbar-logo a {
      color: white;
      font-family: cursive;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
      text-decoration: none;
      font-size: 35px;
      font-weight: bold;
    }

    .navbar .navbar-logo a span {
      color: brown;
      font-size: 130%;
      font-weight: 900;
    }

    .navul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
      list-style: none;
    }

    .navul li a{
      color: white;
      font-size: 20px;
      font-weight: 540;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }
    .navul li span {
      color: white;
      font-size: 20px;
      font-weight: 540;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }
    .navul li a:hover {
      color: orangered;
      text-decoration: none;
      transition: color 0.7s ease;
    }
    .navul li span:hover {
      color: orangered;
      transition: color 0.7s ease;
      cursor: pointer;
    }

    .log {
      display: flex;
      gap: 50px;
      font-family: "Playwrite VN", serif;
    }


    .log a , .log span{
      font-size: 20px;
      font-weight: 600;
      color: white;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }

    .log a:hover, .log span:hover {
      color: orangered;
      text-decoration: none;
      transition: color 0.7s ease;
    }

    /* Hamburger Icon */
    .menu {
      display: none;
      position: relative;
      width: 30px;
      height: 25px;
      cursor: pointer;
    }

    .bar {
      background-color: white;
      height: 3px;
      width: 30px;
      margin: 4px 0;
      transition: all 0.5s ease-in-out;
      position: absolute;
      left: 0;
    }

    .bar1 {
      top: 0;
    }

    .bar2 {
      top: 10px;
    }

    .bar3 {
      top: 20px;
    }

    /* Rotate Effect */
    .menu.active .bar1 {
      transform: rotate(45deg);
      top: 10px;
    }

    .menu.active .bar2 {
      opacity: 0;
    }

    .menu.active .bar3 {
      transform: rotate(-45deg);
      top: 10px;
    }

/* Sec1 */
.swiper{
  margin: 1% 0;
  width:100%;
  height: 80vh;
}
.swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.swiper-slide .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(233, 231, 231, 0.8), rgba(175, 173, 173, 0.7));
  z-index: 1;
  pointer-events: none;
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding:7% 10% 10% 15%;
}
.swiper-slide .overlay h1 {
color: black;
font-size: 150%;
/* box-shadow: 2px 4px 8px 3px #0c5d69;   */
margin: 15% 0 5% 0;
}
.swiper-slide .overlay p {
color: black;
font-size: 70%;
}

/* Section 2*/
#sec2 {
  width: 100%;
  text-align: center;
  padding: 20px;
}

#sec2 h1 {
  font-family: "Playwrite VN", serif;
  color: #0c5d69;
  font-size: 40px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);

}

#sec2 p {
  color: black;
  font-size: 18px;
  margin-bottom: 30px;
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  padding: 10px;
}

.content-item {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.content-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.content-item img {
  width: 100%;
  height: 200px;
}

.content-item span {
  font-family: "Playwrite VN", serif;
  display: block;
  text-align: center;
  padding: 15px;
  font-size: 18px;
  color: #0c5d69;
  cursor: pointer;
}

/* Section 3*/
#sec3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2% 0;
  margin:0% 5% 5% 5%;
}


#sec3 h1 {
  font-family: "Playwrite VN", serif;
  color: #0c5d69;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  font-size: 40px;
  margin: 4%;
  display: inline;

  text-align: center;
}

#sec3 p {
  font-size: 18px;
  margin: 5% 5%;
  text-align: center;
}

#sec3 #container {
  width: 100%;
  height: 60vh; 

}

#sec3 #container .box {
  background-image: url(img/6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#sec3 .div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 2%;
}

#sec3 .div div p{
  background-color: #0c5d69;
  position: relative;
  top: 90px;
  padding: 2px;
  font-size: medium;
}

#sec3 .div div {
  height: 100px;
  width: 15%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease;
  color: white;
}

#sec3 .div div:hover {
  transform: scale(1.05);
}

.div1 {
  background-image: url(img/1.jpg);
}
.div1:hover{
  scale: 1.03;
}
.div2{
  background-image: url(img/2.jpg);
}
.div2:hover{
  scale: 1.03;
}
.div3 {
  background-image: url(img/3.jpg);
}
.div3:hover{
  scale: 1.03;
}
.div4 {
  background-image: url(img/4.jpg);
}
.div4:hover{
  scale: 1.03;
}
.div5 {
  background-image: url(img/5.jpg);
}
.div5:hover{
  scale: 1.03;
}

/* ====================================== */
#sec4{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 600px;
}

#sec4 #box{
  border-radius: 10px;
box-shadow: 2px 2px 4px 3px;
height: 70vh;
width: 50%;
  border: 1px solid black;
  animation: animee 20s linear infinite;
}
@keyframes animee {
  0%{
    background-image: url(img/6.jpg);
    background-size: cover;
  }
  25%{
    background-image: url(img/7.jpg);
    background-size: cover;
  }
  50%{
    background-image: url(img/8.jpg);
    background-size: cover;
  }
  75%{
    background-image: url(img/9.jpg);
    background-size: cover;
  }
  100%{
    background-image: url(img/10.jpg);
    background-size: cover;
  }
  
}
#sec4 .content{
  flex-basis: 30%;
  font-size: 30px;
}
#sec4 .content h1{
  font-family: "Playwrite VN", serif;
}

#sec4 .content p{
  color: #0c5d69;
  font-size: 16px;
  padding: 0 5%;
  color: black;
}
#sec4 .content button{
  margin: 5%;
  padding: 2.5%;
  font-weight: 600;
  text-shadow: 0 0.5px 0.5px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  background-color: orangered;


}
button:hover {
  box-shadow: 0 3px 3px;
  transition:  0.3s ease;

  }
/* ====================================== */
#sec5 {
  height: 100vh;
  width: 100%;
}

#sec5 .container {
  display: flex;
  flex-wrap: wrap; 
  min-width: fit-content;
}

.left-section {
  width: 30%;
  background-color: #0c5d69;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}

.left-section ul {
  list-style: none;
}

.left-section ul li {
  font-size: 18px;
  margin: 20px 0;
}

.left-section a {
  display: inline-block;
  margin-top: 20px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.left-section a:hover {
  color: orangered;
  text-decoration: none;
}

.right-section {
  width: 70%;
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto; 
}

.service-item {
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.service-item h3 i {
  
  margin-right: 10px;
  color: #0c5d69;
}

.service-item p {
  font-size: 16px;
  color: black;
}


/* ====================================== */

/* ====================================== */
#signup, #login{
    height: 100vh;
    width: 100%;
}

.container {
    height: 90vh;
    max-width: 500px;
    margin: auto ;
    top: 4%;
    padding: 5px 100px;
    background-color: #fff;
    box-shadow: 0 4px 8px;  
    border-radius: 8px;
}
#login .container {
    height: 55vh;       
    top: 20%;
}

#appointment .container h1{
  margin: 5%;
}
 .group {
    height: 12vh;
    width: 100%;
    font-size: 95%;
}

.group #message {
  width: 100%;
  height: 50%;
  padding: 2% 0 0 2%;
  outline: none;
}
h1 {
  margin: 10%;
    text-align: center;
    color: #333;
}
label{
    display: block;
    font-weight: bold;
}

input, #treatment{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input:focus, #treatment:focus , #message:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px ;
}



.error {
    color: red;
    font-size: 14px;
    margin: 0px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 1px;
    /* box-shadow: 1px -1px 1px; */
    transition: all 0.5s ease-in-out;
}

.btn:hover {
    background-color: #0056b3;
    color: goldenrod;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: blue;
}
#appointment .container {
  padding-top: 15px;
  height: 95vh;
  position: relative;       
  top: 20px;
}


/* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); */
/* color: orangered; */
/* scroll-behavior: smooth; */


/* footer ======================= */
#footer {
  background: #0c5d69;
  color: #fff;
  padding: 2% 1%;
  text-align: center;
  max-width: 100%;
}

.footcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.footer-section {
  flex: 1;
  /* min-width: 200px; */
}

.footer-section h2, .footer-section h3 {
      font-family: cursive;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

  font-size: 170%;
  margin-bottom: 10px;
}

.footer-section h2 a span{
  color: brown;
  font-size: 120%;
}
.footer-section h2 a {
  text-decoration: none;
  font-size: 40px;
  color: white;
  font-weight: bold;
}

.footer-section p, .footer-section ul li {
  font-size: 95%;
  line-height: 1.6;
  margin: 5px 0;

}
.footer-section li span:hover {
  color: goldenrod;
  transition: color 0.7s ease;
  cursor: pointer;
}
.footer-section ul {
  list-style: none;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}
.footer-section li span {
  color: white;
  font-size: 100%;
  font-weight: 540;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
.footer-section ul li a:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 7);
  color: goldenrod;
}

.footer-section p span{
  font-weight: 550;
}
.footer-section.social a {
  margin: 0 10px;
  font-size: 150%;
  color: #fff;
  transition: color 0.3s;
}

.footer-section.social a:hover {
  color: goldenrod;
}

.footer-bottom {
  margin-top: 20px;
}

/* alert library  */
.swal2-popup-custom {
  color: brown !important;
}